<%- partial('_partial/nav') %>

<div class="cover">
    <div class="coverimage">
    </div>
</div>

<div class="postsblock">
    <div class="segmentation">
        POSTS
    </div>

    <div class="posts">
        <%- partial('_partial/postlist') %>
        <%- partial('_partial/paginator') %>
    </div>
</div>