<div class="paginatorblock">
    <ul>
        <%- paginator(
            {
                prev_text: '<i class="bi bi-arrow-bar-left"></i>',
                next_text: '<i class="bi bi-arrow-bar-right"></i>',
                escape: false,
                mid_size: 3
            }
        )
        %>
    </ul>
</div>